body, body *{
    margin: 0;
    padding: 0;
    font-family: "dm sans";
}
#navigation {
    background-color: rgba(216, 241, 234, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;

}

#navigation ul {
    display: flex;
    gap: 30px;

}

#navigation ul li {
    list-style: none;

}

#navigation ul li a {
    text-decoration: none;
    color: rgba(120, 136, 147, 1);
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s ease;
}

#navigation ul li a:hover,
#navigation ul li a.active {
    color: rgba(27, 102, 222, 1);

}

.logo-name {
    text-align: center;
}

.logo-name h3 {
    color: rgba(34, 34, 34, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
}

.navbar-user-link {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar-user-link a {
    text-decoration: none;
    color: rgba(120, 136, 147, 1);
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s ease;
}

.navbar-user-link a:hover {
    color: rgba(27, 102, 222, 1);
}

.navbar-user-link button {
    width: 173px;
    height: 44px;
    border-radius: 40px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(27, 102, 222, 1);
    transition: 0.3s ease;
    cursor: pointer;
}
.navbar-user-link button:hover {
    background-color: rgba(22, 84, 184, 1);
    color: rgba(110, 227, 220, 1);
    
}
.loan-advisor-section {
    background-image: linear-gradient(180deg, #D8F1EA 0%, #F8F5EE 100%);
    padding-top: 100px;


}
.common-heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.common-paragraph {
    
}